.add-img-form{
    border: none;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.add-img-hedding{
    color: red;
    text-transform:capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: .5rem;
}
