.footer{
    text-align: center;
    color: rgb(225, 225, 165);
    background-color: #2A363B;
}
.footer-user-area{
    border-bottom: solid 1px #99b898;
}
.describe-page{
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
}
.describe-page div{
    font-size:medium;
}