.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    
}
.icons{
    width: 45px;
    margin: 10px;
}
.input-login input{
    padding: .5rem 1rem;
    margin-top: 16px;
    border-radius: 5px;
    border:solid 1px black;
}
.login-btnn{
    margin-top: 2%;
    background-color: rgb(34, 147, 185);
    text-align: center;
    width: 8rem;
    border: none;
    border-radius: 5%;
    height: 2.5rem;
}
.login-btnn:active{
    width: 8.3rem;
    height: 2.6rem;
    font-size: 20px;
}
.register{
    text-align: center;
    color: blue;
}