.head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.front-page{
    background-image: url(../../../public/Section-2.jpg);
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20% 5%;
}
.start-button{
    border-radius: 5px;
    border: none;
    padding: 10px ;
    width: 6rem;
    text-align: center;
    
}
.start-button-area{
    text-align: center;
}
/* .front-page h1 button{
    width: 20%;
    font-size: x-large;
    text-align: center;
    justify-content: center;
   
} */
.front-body-text{
    color: white;
    font-family: "Sedan", serif;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px ;
}

.footer {
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
}