*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #c8c8a9;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
nav,h1,h2,h3,h4,h5,h6,a{
  font-family: "Lora", serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
